src/**
.vscode/**
.editorconfig
.gitignore
tsconfig.json
esbuild.js
eslint.config.mjs
eslint.config.*
node_modules/**
**/*.ts
**/*.map
*.vsix
pnpm-lock.yaml
package-lock.json
yarn.lock
**/__pycache__/**
**/*.pyc
**/*.pyo
.DS_Store
